aniso8601==4.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-Cors==3.0.7
Flask-RESTful==0.3.6
flask-restful-swagger-2==0.35
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==2.6.0
MarkupSafe==1.1.0
maxminddb==1.4.1
pytz==2018.7
requests==2.20.1
six==1.11.0
urllib3==1.24.1
Werkzeug==0.14.1
